p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto";
  font-style: normal;
  color: #86e543;
  background-color: #043835;
}

.container.accessories_container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 479.9px) {
  .container.accessories_container {
    width: 480px;
  }
}
@media screen and (min-width: 767.9px) {
  .container.accessories_container {
    width: 768px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1279.9px) {
  .container.accessories_container {
    width: 1280px;
  }
}

.accessories {
  font-family: "Roboto";
  font-style: normal;
  color: #86e543;
  background-color: #043835;
  padding: 40px 0;
  display: list-item;
  background-image: url(../images/accessories/accessories-bg-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .accessories {
    background-image: url(../images/accessories/accessories-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .accessories {
    padding: 120px 0;
    background-image: url(../images/accessories/accessories-bg-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .accessories {
    background-image: url(../images/accessories/accessories-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .accessories {
    background-image: url(../images/accessories/accessories-bg-1x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .accessories {
    background-image: url(../images/accessories/accessories-bg-2x.jpg);
  }
}

.buttons {
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .buttons {
    width: 272px;
  }
}

.buttons__list {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .buttons__list {
    margin-bottom: 68px;
    gap: 53px;
  }
}
@media screen and (min-width: 1280px) {
  .buttons__list {
    margin-bottom: 72px;
    gap: 44px;
  }
}

@media screen and (max-width: 768px) {
  .buttons__item {
    width: calc((100% - 24px) / 2);
  }
}

.buttons__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  width: 124px;
  height: 35px;
  color: #86e543;
  background-color: inherit;
  border-radius: 16px;
  border: 1px solid #86e543;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .buttons__btn {
    width: 132px;
    height: 51px;
  }
}
@media screen and (min-width: 1280px) {
  .buttons__btn {
    width: 168px;
  }
}
.buttons__btn:focus, .buttons__btn:hover, .buttons__btn:active {
  color: #01383a;
  background-color: #86e543;
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
}

.all-accessories__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1666666667;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .all-accessories__title {
    margin-left: 102px;
    font-size: 56px;
    line-height: 1.1785714286;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .cards .cards__item:nth-of-type(1),
.cards .cards__item:nth-of-type(2),
.cards .cards__item:nth-of-type(4),
.cards .cards__item:nth-of-type(6),
.cards .cards__item:nth-of-type(8),
.cards .cards__item:nth-of-type(10),
.cards .cards__item:nth-of-type(11),
.cards .cards__item:nth-of-type(12),
.cards .cards__item:nth-of-type(14),
.cards .cards__item:nth-of-type(15),
.cards .cards__item:nth-of-type(16) {
    display: none;
  }
  .cards .cards__item:nth-of-type(5) {
    order: 1;
  }
  .cards .cards__item:nth-of-type(9) {
    order: 2;
  }
  .cards .cards__item:nth-of-type(13) {
    order: 3;
  }
  .cards .cards__item:nth-of-type(3) {
    order: 4;
  }
  .cards .cards__item:nth-of-type(7) {
    order: 5;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cards {
    gap: 38px;
    max-width: 608px;
    margin-bottom: 32px;
  }
  .cards .cards__item:nth-of-type(11),
.cards .cards__item:nth-of-type(12),
.cards .cards__item:nth-of-type(15),
.cards .cards__item:nth-of-type(16) {
    display: none;
  }
  .cards .cards__item:nth-of-type(1) {
    order: 1;
  }
  .cards .cards__item:nth-of-type(2) {
    order: 2;
  }
  .cards .cards__item:nth-of-type(3) {
    order: 9;
  }
  .cards .cards__item:nth-of-type(4) {
    order: 10;
  }
  .cards .cards__item:nth-of-type(5) {
    order: 3;
  }
  .cards .cards__item:nth-of-type(6) {
    order: 4;
  }
  .cards .cards__item:nth-of-type(7) {
    order: 11;
  }
  .cards .cards__item:nth-of-type(8) {
    order: 12;
  }
  .cards .cards__item:nth-of-type(9) {
    order: 5;
  }
  .cards .cards__item:nth-of-type(10) {
    order: 6;
  }
  .cards .cards__item:nth-of-type(13) {
    order: 7;
  }
  .cards .cards__item:nth-of-type(14) {
    order: 8;
  }
}
@media screen and (min-width: 1280px) {
  .cards {
    gap: 20px;
    margin-bottom: 32px;
  }
}

.cards__item {
  margin: 0 auto;
  max-width: 285px;
}
@media screen and (min-width: 768px) {
  .cards__item {
    width: calc((100% - 38px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .cards__item {
    width: calc((100% - 60px) / 4);
  }
}

.cards__link {
  display: block;
  cursor: pointer;
}

.cover-container {
  max-width: 285;
  height: 276;
  border: 1px solid #86e543;
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
  border-radius: 12px;
}

.cover-container__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.cover-container {
  position: relative;
  overflow: hidden;
}

.cover-container__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  position: absolute;
  padding: 16px 16px 0 16px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #043835;
  transition-property: transform;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__link:focus .cover-container__text, .cards__link:hover .cover-container__text {
  transform: translateY(0);
}

.card-contant {
  width: 100%;
  padding: 8px 0 12px 0;
}

.card-contant__container {
  padding: 0 0 8px 8px;
}

.card-contant__title {
  margin-bottom: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.1818181818;
  color: #86e543;
  max-width: 261px;
}

.card-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-price__item:first-child {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8d9289;
}
.card-price__item:last-child {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #86e543;
}

.points-container {
  margin: 0 auto;
  width: 144px;
}
@media screen and (min-width: 1280px) {
  .points-container {
    width: 80px;
  }
}

.points__list {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 1280px) {
  .points__list .points__item:nth-of-type(2),
.points__list .points__item:nth-of-type(4) {
    display: none;
  }
}

.point1,
.point2,
.point3,
.point4,
.point5 {
  content: "";
  background: #fff;
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 0;
  overflow: visible;
}

.point1 {
  -webkit-animation: one 3s ease-in-out 1.5s infinite;
          animation: one 3s ease-in-out 1.5s infinite;
}

.point5 {
  -webkit-animation: five 3s ease-in-out alternate 0.2s infinite;
          animation: five 3s ease-in-out alternate 0.2s infinite;
}

@-webkit-keyframes one {
  0% {
    width: 16px;
  }
  50% {
    width: 40px;
    border-radius: 30px;
  }
  100% {
    width: 16px;
  }
}

@keyframes one {
  0% {
    width: 16px;
  }
  50% {
    width: 40px;
    border-radius: 30px;
  }
  100% {
    width: 16px;
  }
}
@-webkit-keyframes five {
  0% {
    width: 16px;
  }
  50% {
    width: 40px;
    border-radius: 30px;
  }
  100% {
    width: 16px;
  }
}
@keyframes five {
  0% {
    width: 16px;
  }
  50% {
    width: 40px;
    border-radius: 30px;
  }
  100% {
    width: 16px;
  }
}
@media screen and (max-width: 480px) {
  .line {
    margin-bottom: 16px;
  }
  .line .line__mob,
.line .line__tab,
.line .line__desk {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .line {
    margin-bottom: 16px;
  }
  .line .line__tab,
.line .line__desk,
.line .line__320 {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .line {
    margin-bottom: 24px;
  }
  .line .line__mob,
.line .line__desk,
.line .line__320 {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .line {
    margin-bottom: 24px;
  }
  .line .line__mob,
.line .line__tab,
.line .line__320 {
    display: none;
  }
}/*# sourceMappingURL=accessories.css.map */